.a-propos {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 4px solid rgba(0, 173, 255, 0.3);
  animation: fadeInSmoke 0.6s ease-out forwards;
  .a-propos-text {
    margin: 30px 30px 20px;
    border: 2px solid #17a2b8;
    padding: 20px;
    h2 {
      margin: 0px 0px 10px 0px;
      font-size: 55px;
      color: #fffdfd;
      text-shadow: 0 0 6px rgba(0, 173, 255, 0.5),
        0 0 12px rgba(0, 173, 255, 0.4), 0 0 18px rgba(0, 173, 255, 0.3);
    }
    p {
      color: #e0e0e0;
      text-shadow: 0 0 6px rgba(255, 255, 255, 0.5),
        0 0 12px rgba(255, 255, 255, 0.4), 0 0 18px rgba(255, 255, 255, 0.3);
      font-size: 25px;
      margin: 0px;
    }
  }
  .chatbot-container {
    margin: 50px 30px 50px 50px;
    border: 2px solid #17a2b8;
    padding: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 244px;
 
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    filter: brightness(0.8);
    margin: 0px 0px 20px 0px;
    
  } }
}
