@keyframes gentleFloat {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  .buttonModal {
    background-color: #17a2b8;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 16px;
    font-size: 14px; 
    cursor: url("../images/cursor.svg"), auto;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    animation: gentleFloat 4s ease-in-out infinite;
    
  }
  
  .buttonModal.link {
    background-color: transparent;
    border: 2px solid #17a2b8;
    color: #17a2b8;
    padding: 10px;
    text-decoration: none;
  }
  
  .buttonModal.link:hover {
    background-color: #17a2b8;
    color: white;
  }
  
  .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 16px;
    margin-top: 15px;
  }
  