.chatbot-info {
  color: #e0e0e0;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.5),
    0 0 12px rgba(255, 255, 255, 0.4), 0 0 18px rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadeInSmoke 0.6s ease-out forwards;
  p {
    margin: 15px 0px 5px 0px;
  }
  a {
    color: #fffdfd;
    text-shadow: 0 0 6px rgba(0, 173, 255, 0.5), 0 0 12px rgba(0, 173, 255, 0.4),
      0 0 18px rgba(0, 173, 255, 0.3);
    cursor: url("../images/cursor.svg"), auto;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
    &:hover {
      transform: scale(1.2);
    }
  }
}
