body {
  cursor: none;
  margin: 0;
}

.cursor-custom {
  cursor: url("../images/cursor.svg"), auto;
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .container {
    width: 100%;
  }
}
.cursor-custom-active {
  cursor: url("../images/sun.svg"), auto;
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
